

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Permanent+Marker&family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'Cinzel', serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Raleway', sans-serif; */


$font-family-base:  'Raleway', sans-serif;
$font-titulo: 'Cabin', sans-serif;
$font-titulo2: 'Cinzel', serif;


$primary: #F2AD85;
$secondary: #cd8d76;
$light: #F2F2F2;
$dark: #0f0f0e;

@import "../node_modules/bootstrap/scss/bootstrap";


body {
    background-color: #0f0f0e;
}
    

/* inicio apartado INICIO */

.header {
    background: linear-gradient(rgba(0.9, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('../Imagenes/header0.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

button {
    align-items: center;
}

.navbar {
    font-family: $font-titulo;
}

.display-1 {
    font-family: $font-titulo2;
}

.fa-angle-down{
    color: $black;
}
.navbar-toggler {
    font-family: $font-titulo2;
    color: $primary;
    background-color: #0f0f0e;
    border: 1px solid #cd8d76;
}

.navbar-brand{
    color: $primary;
}
.navbar-brand{
    color: $white;
}

.navbar button {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.presentacion {
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
}

.presentacion h1 {
    margin-left: 5px;
    color: $primary;
}

.presentacion span {
    
    margin-left: 10px;
    color: $white;
}



.presentacion a{
    background-color: #0f0f0e;
    border: 1px solid #cd8d76;
    font-family: $font-titulo2;
    font-size: 1em;
    margin-top: 3em;
    color: $primary;
    font-weight: bold;

}

.presentacion a:hover{
  color: $white;
}

.mt-1 {
    color: $dark;
    font-weight: bold;
    font-size: 20px;
}

/* inicio apartado COMUNIDAD  */

.comunidad__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;
    background: linear-gradient(rgba(0.6,0,0, 0.6), rgba(0, 0, 0, 0.904)), url('../Imagenes/header2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #cd8d76;
    border-radius: 1em;
    height: 90vh
}

.articulo-text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: linear-gradient(rgba(1, 0, 0, 0.959), rgba(0, 0, 0, 0));
    height: 80%;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid #cd8d76;
}

.contendor-icon {
    margin-top: 15px;
}

.articulo-text-element h1 {
    color: #cd8d76;
    font-family: $font-titulo2;
}

.articulo-text-element .contendor-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $light;
    font-family: $font-titulo;
}

.contendor-icon span {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.formulario__comunidad-img {
    background: linear-gradient(rgba(0.5, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../Imagenes/header4.jpg');
    height: 80%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #cd8d76;
    border-radius: 1em;
};

.contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(rgba(0.6,0,0, 0.6), rgba(0, 0, 0, 0.904)), url('../Imagenes/header3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #cd8d76;
    border-radius: 1em;
    height: 90vh;
}

.contenedor__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $light;
    padding: 1em;
    background-color:#0f0f0e;
    height: 90%;
    width: 40%;
    border-radius: 1em;
    border: 1px solid #cd8d76;
}

.contenedor__formulario h1 {
    font-family: $font-titulo2;
    text-align: center;
    color: #cd8d76;

}

.formulario-img {
    background: linear-gradient(rgba(0.5, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../Imagenes/header4.jpg');
    height: 80%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #cd8d76;
    border-radius: 1em;
}

.inputBox .btn__contacto {
    font-family: $font-titulo2;
    font-size: 1.5em;
    color:#F2F2F2;
    background-color:#F2AD85;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}


/* Inicio apartado LOGIN */

.formulariologin {
    color: $light;
    background: linear-gradient(rgba(0.6,0,0, 0.6), rgba(0, 0, 0, 0.904)), url('../Imagenes/header3.jpg');
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90vh;
    border: 1px solid #cd8d76;
    border-radius: 1em;
}

.formulario__login {
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1em;
    background-color: #0f0f0e;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    border: 1px solid #cd8d76;
    height: 75%;
    width: 40%;
}

.formulario__login h3 {
    font-size: 2em;
    color: #cd8d76;
    font-family: $font-titulo2;
}

.formulario__login .inputBox {
    margin-top: 10px;
    text-align: center;
    position: relative;
}

.formulario__login .inputBox span {
    position: absolute;
    z-index: 100;
    top: 15px;
    left: 10px;
    color: gray;
}

.formulario__login .opcion__password {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;

}

.formulario__login .btn {
    font-family: $font-titulo2;
    background-color: #cd8d76;
    border-color:#F2F2F2;
    color: #F2F2F2;
    padding: 10px;
    width: 100%;
}

.formulario__login .btn__login {
    font-family: $font-titulo2;
    background-color:grey;
    border-color:#F2F2F2;
    color: #F2F2F2;
    padding: 10px;
    width: 100%;
}

.inputBox input {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.formulario__img {
    background: linear-gradient(rgba(0.5, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../Imagenes/header3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #cd8d76;
    border-radius: 1em;
    height: 95%;
    width: 50%;
    display: column;
};

/* inicio apartado ENVIO */

.redes-sociales {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgba(0.6,0,0, 0.6), rgba(0, 0, 0, 0.904)), url('../Imagenes/header3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #cd8d76;
    border-radius: 1em;
    height: 90vh;
}

.redesText {
    background: linear-gradient(rgba(1, 0, 0, 0.959), rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    width: 50%;
    height: 700px;
    color: $light;
    border-radius: 1em;
}

.redesText .redesIcons {
    display: flex;
    margin-top: 1em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 1em;
}

.redesText .redesIcons i {
    margin: 1em;
    font-size: 2em;
    color: $primary;
}

.redesText .redesIcons .bi-instagram:hover  {
    margin: 1em;
    font-size: 2em;
    color: violet;
}

.redesText .redesIcons .bi-twitch:hover  {
    margin: 1em;
    font-size: 2em;
    color: rgb(112, 5, 112);
}

.redesText .redesIcons .bi-twitter:hover  {
    margin: 1em;
    font-size: 2em;
    color: rgb(78, 78, 240);
}

/* Formulario de REGISTRO */

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #F2F2F2;
    background: linear-gradient(rgba(0.6,0,0, 0.6), rgba(0, 0, 0, 0.904)), url('../Imagenes/header3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    gap: 20px;
    width: 100%;
    height: 90vh;
    border: 1px solid #cd8d76;
    border-radius: 1em;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

/* Aqui se manipula la casilla para rellenar */
.formulario__grupo-input {
    position: relative;
}

/* Aquí se gestiona lo que tiene adentro el input */
.formulario__input{
    width: 100%;
    background: white;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

/* Efecto que marca el recuadro */

.formulario__input:focus {
    border: 3px solid #0d6efd;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, .4);
}

/* Aquí gestionamos los textos de error. */

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

/* Gestionamos el icono del fomulario  */
/* La propiedad CSS z-index indica el orden de un elemento posicionado y sus descendientes. Cuando varios elementos se superponen, los elementos con mayor valor z-index cubren aquellos con menor valor.*/

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

/* mensaje de error */
.formulario__mensaje {
    display: none;
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
}

.formulario__mensaje-activo {
    display: block;


}
.formulario__mensaje p {
    margin: 0;
}

/* Se gestiona mensaje de boton y el boton en si mismo */

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__btn:hover {
    box-shadow: 3px 0px 30px rgba(163,163,163, 1)
}

.formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* Estilas para validación */

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}


.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}


.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}

@media screen and (max-width: 800px) {

    .formulario {
        grid-template-columns: 1fr;
    }

    .formulario__terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }
}

@media screen and (max-width: 970px) {

    .header {
        height: 105vh;
    }

    .navbar-collapse{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .navbar-collapse ul li {
        width: 100%;
    }

    .articulo-img {
        display: none;
    }

    .cuerpo {
        margin: 0;
    }
    .navbar-brand {
        display: flex;
        flex-direction: column;
    }
    
    .navbar-collapse{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .contenedor-formulario{
        padding: 0;
    }
    .formulario{
        height: 100%;
        width: 100%;
    }

    .formulario-img {
        display: none;
    }

    .redes-sociales{
        padding: 0;
    }
    .redesText{
        height: 100%;
        width: 100%;
    }

    .redesIcons {
        width: 100%;
    }


}

@media screen and (max-width: 500px) {
    .header {
        height: 135vh;
    }

    .navbar-brand {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .navbar-collapse{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .navbar-collapse ul li {
        width: 100%;
    }

    .articulo-text { 
        padding: 1em;
        border-radius: 1em;
        height: 900px;
    }

    .contenedorFlex {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .contenedor-formulario{
        padding: 0;
    }
    .formulario{
        height: 100%;
        width: 100%;
    }

    .formulario-img {
        display: none;
    }

    .redes-sociales{
        padding: 0;
    }
    .redesText{
        height: 100%;
        width: 100%;
    }

    .redesIcons {
        width: 100%;
    }

    .redesText .redesIcons i {
        margin: 1em;
        font-size: 1em;
        color: $primary;
    }
}