

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Permanent+Marker&family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');

/* font-family: 'Cinzel', serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Raleway', sans-serif; */


$font-family-base:  'Raleway', sans-serif;
$font-titulo: 'Cabin', sans-serif;
$font-titulo2: 'Cinzel', serif;


$primary: #F2AD85;
$secondary: #cd8d76;
$light: #F2F2F2;
$dark: #0f0f0e;

@import "../node_modules/bootstrap/scss/bootstrap";


body {
    background-color: #0f0f0e;
}
    

/* inicio apartado INICIO */

.header {
    background: linear-gradient(rgba(0.9, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('../Imagenes/header0.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

button {
    align-items: center;
}

.navbar {
    font-family: $font-titulo;
}

.display-1 {
    font-family: $font-titulo2;
}

.fa-angle-down{
    color: $black;
}
.navbar-toggler {
    font-family: $font-titulo2;
    color: $primary;
    background-color: #0f0f0e;
    border: 1px solid #cd8d76;
}

.navbar-brand{
    color: $primary;
}
.navbar-brand{
    color: $white;
}

.navbar button {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.presentacion {
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
}

.presentacion h1 {
    margin-left: 5px;
    color: $primary;
}

.presentacion span {
    
    margin-left: 10px;
    color: $white;
}



.presentacion a{
    background-color: #0f0f0e;
    border: 1px solid #cd8d76;
    font-family: $font-titulo2;
    font-size: 1em;
    margin-top: 3em;
    color: $primary;
    font-weight: bold;

}

.presentacion a:hover{
  color: $white;
}

.mt-1 {
    color: $dark;
    font-weight: bold;
    font-size: 20px;
}

/* inicio apartado COMUNIDAD  */

.contenedorFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; 
    text-align: center;
    background: linear-gradient(rgba(0.6,0,0, 0.6), rgba(0, 0, 0, 0.904)), url('../Imagenes/header2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #cd8d76;
    border-radius: 1em;
}

.articulo-text { 
    background: linear-gradient(rgba(1, 0, 0, 0.959), rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.articulo-text-element {
    color: $light;
    font-family: $font-titulo;
    height: 700px;
}

.articulo-text-element h1 {
    color: #cd8d76;
    font-family: $font-titulo2;
    margin-top: 1em;
}

.articulo-text-element div img {
    margin-top: 1em;
}

.articulo-text-element .btn {
    margin-top: 1em;
    width: 100%;
    background-color: #0f0f0e;
    border: 1px solid #cd8d76;
    font-size: 1em;
    font-family: $font-titulo2;
    color: $light;
}

.articulo-text-element .btn:hover {
    background-color: $light;
    border: 1px solid #cd8d76;
    color: $dark;
}


.articulo-img {
    background: linear-gradient(rgba(0.9, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('../Imagenes/header1.jpg');
    height: 700px;
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1em;
}


/* inicio apartado FORMULARIO  */

.contenedor-formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgba(0.6,0,0, 0.6), rgba(0, 0, 0, 0.904)), url('../Imagenes/header3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #cd8d76;
    border-radius: 1em;
    height: 90vh;
}

.formulario {
    background: linear-gradient(rgba(1, 0, 0, 0.959), rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    width: 50%;
    height: 700px;
    color: $light;
    border-radius: 1em;
}

.formulario form h1 {
    color: #cd8d76;
    font-family: $font-titulo2;
}

.formulario-img {
    background: linear-gradient(rgba(0.9, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('../Imagenes/header4.jpg');
    height: 700px;
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #cd8d76;
    border-radius: 1em;
}

form .btn {
    margin-top: 1em;
    width: 100%;
    background-color: #0f0f0e;
    border: 1px solid #cd8d76;
    font-size: 1em;
    font-family: $font-titulo2;
    color: $light;
}

form .btn:hover {
    background-color: $light;
    border: 1px solid #cd8d76;
    color: $dark;
}

/* inicio apartado ENVIO */

.redes-sociales {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgba(0.6,0,0, 0.6), rgba(0, 0, 0, 0.904)), url('../Imagenes/header3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #cd8d76;
    border-radius: 1em;
    height: 90vh;
}

.redesText {
    background: linear-gradient(rgba(1, 0, 0, 0.959), rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    width: 50%;
    height: 700px;
    color: $light;
    border-radius: 1em;
}

.redesText .redesIcons {
    display: flex;
    margin-top: 1em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 1em;
}

.redesText .redesIcons i {
    margin: 1em;
    font-size: 2em;
    color: $primary;
}

.redesText .redesIcons .bi-instagram:hover  {
    margin: 1em;
    font-size: 2em;
    color: violet;
}

.redesText .redesIcons .bi-twitch:hover  {
    margin: 1em;
    font-size: 2em;
    color: rgb(112, 5, 112);
}

.redesText .redesIcons .bi-twitter:hover  {
    margin: 1em;
    font-size: 2em;
    color: rgb(78, 78, 240);
}


@media screen and (max-width: 970px) {

    .header {
        height: 105vh;
    }

    .navbar-collapse{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .navbar-collapse ul li {
        width: 100%;
    }

    .articulo-img {
        display: none;
    }

    .cuerpo {
        margin: 0;
    }
    .navbar-brand {
        display: flex;
        flex-direction: column;
    }
    
    .navbar-collapse{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .formulario-img {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    .header {
        height: 135vh;
    }

    .navbar-brand {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .navbar-collapse{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .navbar-collapse ul li {
        width: 100%;
    }

    .articulo-text { 
        padding: 1em;
        border-radius: 1em;
        height: 900px;
    }

    .contenedorFlex {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .formulario-img {
        display: none;
    }

}