

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Permanent+Marker&family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');

/* font-family: 'Cinzel', serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Raleway', sans-serif; */


$font-family-base:  'Raleway', sans-serif;
$font-titulo: 'Cabin', sans-serif;
$font-titulo2: 'Cinzel', serif;


$primary: #F2AD85;
$secondary: #cd8d76;
$light: #F2F2F2;
$dark: #0f0f0e;

@import "../node_modules/bootstrap/scss/bootstrap";


body {
    background-color: #0f0f0e;
}

.cuerpo {
    background: linear-gradient(rgba(0.9, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('/Imagenes/header0.jpg');
    height: 103vh;
    background-repeat: no-repeat;
    background-size: cover;
}


/* inicio apartado INICIO */

.header {
    background: linear-gradient(rgba(0.9, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('/Imagenes/header0.jpg');
    height: 103vh;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

button {
    align-items: center;
}

.navbar {
    font-family: $font-titulo;
}

.display-1 {
    font-family: $font-titulo2;
}

.fa-angle-down{
    color: $black;
}
.navbar-toggler {
    font-family: $font-titulo2;
    color: $primary;
    background-color: #0f0f0e;
    border: 1px solid #cd8d76;
}

.navbar-brand{
    color: $primary;
}
.navbar-brand{
    color: $white;
}

.navbar button {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.presentacion {
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
}

.presentacion h1 {
    margin-left: 5px;
    color: $primary;
}

.presentacion span {
    
    margin-left: 10px;
    color: $white;
}

.presentacion span:hover {
    color: $dark;
}

.presentacion .mx-auto button {
    margin-top: 5em;
    font-weight: bold;
    background-color: #0f0f0e;
    border: 1px solid #cd8d76;
    margin-bottom: 3em;

}

.presentacion .mx-auto button span a{
    font-family: $font-titulo2;
    font-size: 1.5em;
    margin-top: 5em;
    color: $primary;
    font-weight: bold;

}

.presentacion .mx-auto button span a:hover{
  color: $white;
}

.mt-1 {
    color: $dark;
    font-weight: bold;
    font-size: 20px;
}

/* inicio apartado COMUNIDAD  */

.contenedorFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgba(0.9, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('/Imagenes/header2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}


.articulo-img{
    border: 1px solid #cd8d76;
    border-radius: 2em;
    background: url('/Imagenes/header1.jpg');
    width: 1000px;
    height: 600px;
    margin: 10px 10px 10px 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.articulo-text {
    display: flex;
    flex-direction: column;
    height: 80%;
    padding: 1em 1em;
    border-radius: 2em;
    background-color: rgba(249, 249, 249, 0.4);
    color: $light;
}

.articulo-text h1 {
    margin-top: 10px;
}
.articulo-text h1 b {
    font-family: $font-titulo2;
    font-size: 1em;
    color: $primary;
}


.contendor-icon {
    text-align: center;
}

.contenedor-text {
    margin-bottom: 2em;
}

.bottonContenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottonEstilo {
    background-color: #0f0f0e;
    border: 1px solid #cd8d76;
    border-radius: 1em;
    width: 80%;
}

.bottonEstilo a {
    font-family: $font-titulo2;
    font-size: 1.5em;
}

/* HEADER CONTACTO */

.formulario-contenedor {
    background: linear-gradient(rgba(0.9, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('/Imagenes/header3.jpg');
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    width: 50%;
    height: 85%;
    border: 1px solid #cd8d76;
    border-radius: 2em;
    background-color: rgba(249, 249, 249, 0.4);
    color: $light;
}

.formulario-img {
    display: flex;
    flex-direction: column;
    border: 1px solid #cd8d76;
    border-radius: 2em;
    background: url('/Imagenes/header4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 10px 10px 10px;
    width: 900px;
    height: 600px;
}

@media screen and (max-width: 990px) {
    .formulario {
        width: 100%;
    }
    .formulario-img {
        display: none;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .titulos .presentacion button {
        margin-left: 0;
        margin-right: 0;
    }

    .articulo-img{
        display: none;
    }

    .articulo-text {
        height: 90vh;
    }

    .contendor-icon {
        margin-top: 1.5em;
        text-align: center;
    }
    
    .contenedor-text {
        margin-bottom: 1em;
    }
    
    .botton-comunidad a {
        font-size: 1em;
        color: $light;
    }

    .articulo-text h1 b{
        font-size: 1em;
        color: $primary;
    }

}